<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Интернет магазин</title>
</head>
<body>
    <header>
        <div class="header__login">
            <img class="header__login_logo" src="./img/login_logo.svg" alt="login_logo">
            <a href="#" class="header__registration_link">Войти / Регистрация</a>
        </div>
        <div class="header__tabs">
            <h1 class="header__tabs_logo">ЛОГО</h1>
            <div class="header__tabs_categories">
                <div class="header__categories_box1 header__boxes active">КАТЕГОРИЯ 1</div>
                <div class="header__categories_box2 header__boxes">КАТЕГОРИЯ 2</div>
                <div class="header__categories_box3 header__boxes">КАТЕГОРИЯ 3</div>
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="./script.js"></script>
</body>
</html>