<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Интернет магазин</title>
</head>
<body>
    <header>
        <div class="header__login">
            <img class="header__login_logo" src="./img/login_logo.svg" alt="login_logo">
            <a href="#" class="header__registration_link">Войти / Регистрация</a>
        </div>
        <div class="header__tabs">
            <h1 class="header__tabs_logo">ЛОГО</h1>
            <div class="header__tabs_categories">
                <div class="header__categories_box1 header__boxes active">КАТЕГОРИЯ 1</div>
                <div class="header__categories_box2 header__boxes">КАТЕГОРИЯ 2</div>
                <div class="header__categories_box3 header__boxes">КАТЕГОРИЯ 3</div>
            </div>
            <img class="header__tabs_phoneIcon" src="./img/header__tabs_phoneIcon.svg" alt="header__tabs_phoneIcon">
             <p class="header__tabs_number">8 (812) 123-45-67</p>
             <p class="header__tabs_delivery">Доставка</p>
             <button class="header__tabs_bucket"><img src="/img/header__tabs_bucket.svg" alt="header__tabs_bucket" class="header__bucket_icon"></button>
             <button class="header__tabs_search"><img src="./img/header__tabs_search.svg" alt=""></button>
        </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="./script.js"></script>
</body>
</html>