*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    background-color: #000;
}

header{
    width: 1920px;
    height: 80px;
}

.header__login{
    width: 100%;
    height: 44px;
}

.header__login_logo{
    position: relative;
    top: 16px;
    left: 1692px;
}

.header__registration_link{
    position: relative;
    left: 1692px;
    top: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    color: #969696;
    text-decoration: none;
}

.header__tabs{
    width: 100%;
    height: 80px;
    background: #0F0F0F;
    display: flex;
}

.header__tabs_logo{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 54px;
    color: #fff;
    text-decoration: none;
    position: relative;
    left: 100px;
    top: 13px;
}

.header__tabs_categories{
    width: 405px;
    height: 80px;
    color: grey;
    position: relative;
    left: 143px;
    display: flex;
}

.header__boxes{
    width: 135px;
    height: 80px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    color: #969696;
}

.active {
    background: #1F1F1F;
    color: #FFFFFF;
}